### ignored files
/.NERDTreeBookmarks
/.Xauthority
/.Xclients
/.aws/
/.babel.json
/.backup/
/.bash_logout
/.bash_profile
/.bashrc
/.bin/
/.cache/
/.dmenurc
/.dmrc
/.docker/buildNodeID
/.dropbox/
/.dropbox-dist/
/.elinks/
/.esd_auth
/.extend.bashrc
/.extend.xinitrc
/.fasd
/.ff-theme-util_1strun
/.fonts/
/.gem/
/.gimp-2.8/
/.gitconfig
/.gnupg/
/.golang/
/.gtkrc-2.0
/.icons/
/.lesshst
/.local/
/.moc/
/.moonchild\ productions/
/.mozc/
/.mozilla/
/.mycli.log
/.npm/
/.npm-global/
/.oh-my-zsh/
/.pylint.d/
/.ssh/
/.swp
/.thumbnails/
/.uim.d/customs/*
/.vboxclient-*
/.vim/
/.viminfo
/.vimperator/*
/.vimtags
/.virtualenvs/
/.wget-hsts
/.xinitrc
/.xsession-errors
/.xsession-errors.old
/.yarn/
/.yarnrc
/.z
/.zcompdump*
/.zsh-update
/devel/
/dl/
/doc/
/misc/
/works/
/Dropbox/

### local files
/.vimperatorrc.local
/.zshrc.local

### history
/.*history

### .config

# used by some node packages to store temporary data
.config/configstore/

# GUI related files
.config/dconf/
.config/dmenu-recent/
.config/gconf/
.config/gtk-3.0/
.config/Mousepad/
.config/qt5ct/
.config/xfce4/

# sound system
.config/pulse
.config/volumeicon/

# dont use because I use firefox
.config/epdfview/

# yarn data
.config/yarn

### other ignored files
# .ipython
.ipython/profile_default/startup/README

### common ignored files
__pycache__
*.sqlite

### reset ignore
!/.vimperator/plugin
!/.uim.d/customs/custom-global-*
!/.uim.d/customs/custom-google-*
