### ignored files
/.NERDTreeBookmarks
/.Xauthority
/.Xclients
/.ansible
/.ansible_galaxy
/.aws/
/.babel.json
/.backup/
/.bash_logout
/.bash_profile
/.bashrc
/.bin/
/.cache/
/.cargo/
/.conda/
/.dbeaver-drivers/
/.dbeaver4/
/.dbus/session-bus/
/.dmrc
/.docker/.buildNodeID
/.dropbox/
/.dropbox-dist/
/.elinks/
/.esd_auth
/.extend.bashrc
/.extend.xinitrc
/.fasd
/.ff-theme-util_1strun
/.fonts/
/.gem/
/.gimp-2.8/
/.gitconfig
/.git-credentials
/.glide/cache/
/.gnupg/
/.golang/
/.go-cookies/
/.gtkrc-2.0
/.icons/
/.java/
/.jenkins/
/.keras/
/.lesshst
/.local/
/.moc/
/.moonchild\ productions/
/.mozc/
/.mozilla/
/.mycli.log
/.node-gyp/
/.npm/
/.npm-global/
/.nvm/
/.oh-my-zsh/
/.phoronix-test-suite/
/.pip-global/
/.pki/
/.pylint.d/
/.rustup/downloads/
/.rustup/tmp/
/.rustup/toolchains/
/.rustup/update-hashes/
/.slack-term
/.ssh/
/.swp
/.thumbnails/
/.v8flags.*
/.vagrant.d/
/.vboxclient-*
/.vim/
/.viminfo
/.vimtags
/.virtualenvs/
/.vue-templates/
/.wget-hsts
/.xsession-errors
/.xsession-errors.old
/.yarn/
/.yarnrc
/.z
/.zcompdump*
/.zsh-update

/devel/
/dl/
/doc/
/misc/
/projects/
/work/
/Dropbox/
/VirtualBox\ VMs/
/TODO.md

### local files
/.zshrc.local

### history
/.*history

### .config

# used only on home computer
/.config/autostart/fluxgui.desktop

# used by some node packages to store temporary data
/.config/configstore/

# GUI related files
/.config/chromium/
/.config/dconf/
/.config/dmenu-recent/
/.config/gconf/
/.config/GIMP/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/libreoffice/
/.config/mcomix/
/.config/Mousepad/
/.config/qt5ct/
/.config/QtProject.conf
/.config/transmission/
/.config/VirtualBox/
/.config/vlc/
/.config/xarchiver/
/.config/xfce4/

# binary files
/.config/copyq/copyq-bak.conf
/.config/copyq/copyq_*.dat
/.config/copyq/*.ini
/.config/fcitx/cached_layout
/.config/fcitx/clipboard
/.config/fcitx/data/
/.config/fcitx/dbus/
/.config/fcitx/log/

# including sensitive credentials
/.config/hub

# sound system
/.config/pulse
/.config/volumeicon/

# yarn data
/.config/yarn

### seems unnecessary
/.config/i3-scrot.conf


### other ignored files

# mutt
/.mutt/cache
/.mutt/certificates
/.mutt/mutt-colors-solarized
/.mutt/private.muttrc

# kube
/.kube
/.minikube
/.helm

### common ignored files
__pycache__
*.sqlite



#####################
#                   #
#  temporaly unused #
#                   #
#####################
/.rustup/
/.sage/
/.config/htop/
/.config/libfm/
/.config/nitrogen/
/.config/pcmanfm/
/.config/ranger/
/.config/viewnior/
/.config/Cypress/
