### ignored files
/.Xauthority
/.Xclients
/.backup/
/.bash_logout
/.bash_profile
/.bashrc
/.cache/
/.dmenurc
/.dmrc
/.elinks/
/.esd_auth
/.extend.bashrc
/.extend.xinitrc
/.ff-theme-util_1strun
/.fonts/
/.gem/
/.gimp-2.8/
/.gnupg/
/.gtkrc-2.0
/.icons/
/.lesshst
/.local/
/.moc/
/.moonchild\ productions/
/.mozc/
/.mozilla/
/.mycli-history
/.mycli.log
/.mysql_history
/.node_repl_history
/.npm/
/.oh-my-zsh/
/.pylint.d/
/.python_history
/.swp
/.thumbnails/
/.tig_history
/.uim.d/customs/*
/.vboxclient-*
/.vim/
/.viminfo
/.vimperator/*
/.virtualenvs/
/.wget-hsts
/.xinitrc
/.xsession-errors
/.xsession-errors.old
/.yarn/
/.yarnrc
/.z
/.zhistory
/.zcompdump*
/.zsh_history
/.zsh-update
/devel/
/dl/
/works/

### local files
/.vimperatorrc.local

### .config
# used by some node packages to store temporary data
.config/configstore/
# GUI related files
.config/dconf/
.config/dmenu-recent/
.config/gconf/
.config/gtk-3.0/
.config/Mousepad/
# sound system
.config/pulse
.config/volumeicon/
# dont use because I use firefox
.config/epdfview/
# yarn data
.config/yarn

### other ignored files
# .ipython
.ipython/profile_default/startup/README

### common ignored files
__pycache__
*.sqlite

### reset ignore
!/.vimperator/plugin
!/.uim.d/customs/custom-global-*
!/.uim.d/customs/custom-google-*
